<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miguel_lm.appmygarden">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_plantas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_plantas_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme">
        <activity android:name=".ui.ActivitySplash"
            android:theme="@style/SplashTheme"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActivityDetalle"
            android:theme="@style/ActivityDetalle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityPrincipal"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>